root = true

[*.java]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
indent_style = space
ij_java_blank_lines_after_class_header = 0
ij_java_blank_lines_around_method_in_interface = 0
ij_java_keep_simple_methods_in_one_line = true
ij_java_do_not_wrap_after_single_annotation = true

[*.groovy]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
indent_style = space

[*.conf]
indent_size = 2
tab_width = 2
indent_style = space

[*.scala]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
indent_style = space
insert_final_newline = false
ij_scala_keep_simple_blocks_in_one_line = true
ij_scala_keep_simple_methods_in_one_line = true
ij_scala_align_multiline_parameters = false
ij_scala_blank_lines_after_class_header = 0
ij_scala_blank_lines_after_anonymous_class_header = 0
ij_scala_blank_lines_around_class = 0
ij_scala_blank_lines_around_field = 0
ij_scala_blank_lines_around_method = 0
ij_scala_blank_lines_around_field_in_inner_scopes = 0
ij_scala_blank_lines_around_field_in_interface = 0
ij_scala_blank_lines_around_method_in_inner_scopes = 0
ij_scala_blank_lines_around_method_in_interface = 0

[*.json]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2

[*.{kt, kts}]
indent_size = 2
ij_continuation_indent_size = 2
indent_style = space
